In [147]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from pyspark.sql import Row

spark = SparkSession.builder.appName("sujawon").master("local[*]").getOrCreate()

In [41]:
df = spark.read.format("csv").option("header","true").option("inferSchema","true").load("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_시간별_2021-02-22.csv")
df2 = spark.read.format("json").option("header","true").option("inferSchema","true").load("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_분별_2021-02-22.json")

df.show()
df2.show()
print(type(df),type(df2))
df.printSchema()
df2.printSchema()

#df = spark.read.format("csv").option("header","true").option("inferSchema","true").load("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_시간별_2021-02-22.csv").show()로 만들경우 nonetype으로 정의
df3 = spark.read.format("csv").option("header","true").option("inferSchema","true").load("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_시간별_2021-02-22.csv").show()
print(type(df3))

df4 = spark.read.format("csv").option("header","true").option("inferSchema","false").load("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_시간별_2021-02-22.csv")
df4.printSchema()

+----+----------------+----+--------+
|번호|            시간|우량|누적우량|
+----+----------------+----+--------+
|   1|2021-02-22 01:00|   0|    29.5|
|   2|2021-02-22 02:00|   0|    29.5|
|   3|2021-02-22 03:00|   0|    29.5|
|   4|2021-02-22 04:00|   0|    29.5|
|   5|2021-02-22 05:00|   0|    29.5|
|   6|2021-02-22 06:00|   0|    29.5|
|   7|2021-02-22 07:00|   0|    29.5|
|   8|2021-02-22 08:00|   0|    29.5|
|   9|2021-02-22 09:00|   0|    29.5|
+----+----------------+----+--------+

+-------+------+---+----------------+
|acmtlrf|hourrf| no|          obsrdt|
+-------+------+---+----------------+
|   29.5|     0|  1|2021-02-22 01:00|
|   29.5|     0|  2|2021-02-22 02:00|
|   29.5|     0|  3|2021-02-22 03:00|
|   29.5|     0|  4|2021-02-22 04:00|
|   29.5|     0|  5|2021-02-22 05:00|
|   29.5|     0|  6|2021-02-22 06:00|
|   29.5|     0|  7|2021-02-22 07:00|
|   29.5|     0|  8|2021-02-22 08:00|
|   29.5|     0|  9|2021-02-22 09:00|
+-------+------+---+----------------+

<class 'pyspark.sql.dataframe.DataFrame'> <class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- 번호: integer (nullable = true)
 |-- 시간: string (nullable = true)
 |-- 우량: integer (nullable = true)
 |-- 누적우량: double (nullable = true)

root
 |-- acmtlrf: string (nullable = true)
 |-- hourrf: string (nullable = true)
 |-- no: string (nullable = true)
 |-- obsrdt: string (nullable = true)

+----+----------------+----+--------+
|번호|            시간|우량|누적우량|
+----+----------------+----+--------+
|   1|2021-02-22 01:00|   0|    29.5|
|   2|2021-02-22 02:00|   0|    29.5|
|   3|2021-02-22 03:00|   0|    29.5|
|   4|2021-02-22 04:00|   0|    29.5|
|   5|2021-02-22 05:00|   0|    29.5|
|   6|2021-02-22 06:00|   0|    29.5|
|   7|2021-02-22 07:00|   0|    29.5|
|   8|2021-02-22 08:00|   0|    29.5|
|   9|2021-02-22 09:00|   0|    29.5|
+----+----------------+----+--------+

<class 'NoneType'>
root
 |-- 번호: string (nullable = true)
 |-- 시간: string (nullable = true)
 |-- 우량: string (nullable = true)
 |-- 누적우량: string (nullable = true)

In [38]:
df.createOrReplaceTempView("dFtable")
df2.createOrReplaceTempView("dF2table")

In [40]:
dfsql = spark.sql("SELECT * FROM dFtable")
df2sql = spark.sql("SELECT * FROM dF2table")

dfsql.show()
df2sql.show()

+----+----------------+----+--------+
|번호|            시간|우량|누적우량|
+----+----------------+----+--------+
|   1|2021-02-22 01:00|   0|    29.5|
|   2|2021-02-22 02:00|   0|    29.5|
|   3|2021-02-22 03:00|   0|    29.5|
|   4|2021-02-22 04:00|   0|    29.5|
|   5|2021-02-22 05:00|   0|    29.5|
|   6|2021-02-22 06:00|   0|    29.5|
|   7|2021-02-22 07:00|   0|    29.5|
|   8|2021-02-22 08:00|   0|    29.5|
|   9|2021-02-22 09:00|   0|    29.5|
+----+----------------+----+--------+

+-------+------+---+----------------+
|acmtlrf|hourrf| no|          obsrdt|
+-------+------+---+----------------+
|   29.5|     0|  1|2021-02-22 01:00|
|   29.5|     0|  2|2021-02-22 02:00|
|   29.5|     0|  3|2021-02-22 03:00|
|   29.5|     0|  4|2021-02-22 04:00|
|   29.5|     0|  5|2021-02-22 05:00|
|   29.5|     0|  6|2021-02-22 06:00|
|   29.5|     0|  7|2021-02-22 07:00|
|   29.5|     0|  8|2021-02-22 08:00|
|   29.5|     0|  9|2021-02-22 09:00|
+-------+------+---+----------------+

In [56]:
df.select("*").show()
df.select("*").columns

+----+----------------+----+--------+
|번호|            시간|우량|누적우량|
+----+----------------+----+--------+
|   1|2021-02-22 01:00|   0|    29.5|
|   2|2021-02-22 02:00|   0|    29.5|
|   3|2021-02-22 03:00|   0|    29.5|
|   4|2021-02-22 04:00|   0|    29.5|
|   5|2021-02-22 05:00|   0|    29.5|
|   6|2021-02-22 06:00|   0|    29.5|
|   7|2021-02-22 07:00|   0|    29.5|
|   8|2021-02-22 08:00|   0|    29.5|
|   9|2021-02-22 09:00|   0|    29.5|
+----+----------------+----+--------+

['번호', '시간', '우량', '누적우량']

In [61]:
db = spark.sql("SHOW DATABASES")
db2 = spark.sql("SHOW TABLES")

db.show()
db2.show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        | df2table|       true|
|        |  dftable|       true|
+--------+---------+-----------+

In [126]:
from pyspark.sql.functions import expr, col
df.withColumnRenamed("번호","num",).withColumnRenamed("시간","time",).withColumnRenamed("우량","prec",).withColumnRenamed("누적우량","nestedprec",).createOrReplaceTempView("engdFtable")
#한글로 명명된 열 이름을 영어로 변환시켜 테이블로 저장

In [129]:
spark.sql("SELECT * FROM engdFtable").show()
#영어로 변환된 열이름의 테이블이 출력
spark.sql("SELECT num,time FROM engdFtable").show()

+---+----------------+----+----------+
|num|            time|prec|nestedprec|
+---+----------------+----+----------+
|  1|2021-02-22 01:00|   0|      29.5|
|  2|2021-02-22 02:00|   0|      29.5|
|  3|2021-02-22 03:00|   0|      29.5|
|  4|2021-02-22 04:00|   0|      29.5|
|  5|2021-02-22 05:00|   0|      29.5|
|  6|2021-02-22 06:00|   0|      29.5|
|  7|2021-02-22 07:00|   0|      29.5|
|  8|2021-02-22 08:00|   0|      29.5|
|  9|2021-02-22 09:00|   0|      29.5|
+---+----------------+----+----------+

+---+----------------+
|num|            time|
+---+----------------+
|  1|2021-02-22 01:00|
|  2|2021-02-22 02:00|
|  3|2021-02-22 03:00|
|  4|2021-02-22 04:00|
|  5|2021-02-22 05:00|
|  6|2021-02-22 06:00|
|  7|2021-02-22 07:00|
|  8|2021-02-22 08:00|
|  9|2021-02-22 09:00|
+---+----------------+

In [134]:
spark.sql("SELECT sum(nestedprec) as `total daily prec` ,avg(prec) as `average prec per hour` FROM engdFtable").show()
#하루의 누적강수량과 시간당 평균 강수량을 보여주는 sql문

+----------------+---------------------+
|total daily prec|average prec per hour|
+----------------+---------------------+
|           265.5|                  0.0|
+----------------+---------------------+

In [137]:
#csv파일을 RDD로 만든후 연산이후에 dataframe으로 바꾸고 임시뷰테이블로 전환하는 과정

sc = spark.sparkContext

lines = sc.textFile("C:/Users/b2en/Desktop/spark관련/수자원공사_우량관측정보_시간별_2021-02-22.csv")
lines.collect()

['번호,시간,우량,누적우량',
 '1,2021-02-22 01:00,0,29.5',
 '2,2021-02-22 02:00,0,29.5',
 '3,2021-02-22 03:00,0,29.5',
 '4,2021-02-22 04:00,0,29.5',
 '5,2021-02-22 05:00,0,29.5',
 '6,2021-02-22 06:00,0,29.5',
 '7,2021-02-22 07:00,0,29.5',
 '8,2021-02-22 08:00,0,29.5',
 '9,2021-02-22 09:00,0,29.5']

In [138]:
parts = lines.map(lambda l: l.split(","))
parts.collect()

[['번호', '시간', '우량', '누적우량'],
 ['1', '2021-02-22 01:00', '0', '29.5'],
 ['2', '2021-02-22 02:00', '0', '29.5'],
 ['3', '2021-02-22 03:00', '0', '29.5'],
 ['4', '2021-02-22 04:00', '0', '29.5'],
 ['5', '2021-02-22 05:00', '0', '29.5'],
 ['6', '2021-02-22 06:00', '0', '29.5'],
 ['7', '2021-02-22 07:00', '0', '29.5'],
 ['8', '2021-02-22 08:00', '0', '29.5'],
 ['9', '2021-02-22 09:00', '0', '29.5']]

In [152]:
people = parts.map(lambda p: Row(번호=p[0], 시간=(p[1]), 우량=p[2], 누적우량=p[3]))
people.collect()

#collect()	Return all the elements of the dataset as an array at the driver program.
#This is usually useful after a filter or other operation that returns a sufficiently small subset of the data.

#select()는 transformation lazy한 spark특징상. collect()는 action.으로 구분

[Row(누적우량='누적우량', 번호='번호', 시간='시간', 우량='우량'),
 Row(누적우량='29.5', 번호='1', 시간='2021-02-22 01:00', 우량='0'),
 Row(누적우량='29.5', 번호='2', 시간='2021-02-22 02:00', 우량='0'),
 Row(누적우량='29.5', 번호='3', 시간='2021-02-22 03:00', 우량='0'),
 Row(누적우량='29.5', 번호='4', 시간='2021-02-22 04:00', 우량='0'),
 Row(누적우량='29.5', 번호='5', 시간='2021-02-22 05:00', 우량='0'),
 Row(누적우량='29.5', 번호='6', 시간='2021-02-22 06:00', 우량='0'),
 Row(누적우량='29.5', 번호='7', 시간='2021-02-22 07:00', 우량='0'),
 Row(누적우량='29.5', 번호='8', 시간='2021-02-22 08:00', 우량='0'),
 Row(누적우량='29.5', 번호='9', 시간='2021-02-22 09:00', 우량='0')]

In [155]:
schemapeople = spark.createDataFrame(people)
schemapeople.show()

+--------+----+----------------+----+
|누적우량|번호|            시간|우량|
+--------+----+----------------+----+
|누적우량|번호|            시간|우량|
|    29.5|   1|2021-02-22 01:00|   0|
|    29.5|   2|2021-02-22 02:00|   0|
|    29.5|   3|2021-02-22 03:00|   0|
|    29.5|   4|2021-02-22 04:00|   0|
|    29.5|   5|2021-02-22 05:00|   0|
|    29.5|   6|2021-02-22 06:00|   0|
|    29.5|   7|2021-02-22 07:00|   0|
|    29.5|   8|2021-02-22 08:00|   0|
|    29.5|   9|2021-02-22 09:00|   0|
+--------+----+----------------+----+

In [156]:
print(type(schemapeople))

<class 'pyspark.sql.dataframe.DataFrame'>

In [157]:
schemapeople.createOrReplaceTempView("people")
spark.sql("SHOW TABLES").show()

+--------+----------+-----------+
|database| tableName|isTemporary|
+--------+----------+-----------+
|        |  df2table|       true|
|        |   dftable|       true|
|        |engdftable|       true|
|        |    people|       true|
+--------+----------+-----------+

In [158]:
spark.sql("SELECT * FROM people").show()

+--------+----+----------------+----+
|누적우량|번호|            시간|우량|
+--------+----+----------------+----+
|누적우량|번호|            시간|우량|
|    29.5|   1|2021-02-22 01:00|   0|
|    29.5|   2|2021-02-22 02:00|   0|
|    29.5|   3|2021-02-22 03:00|   0|
|    29.5|   4|2021-02-22 04:00|   0|
|    29.5|   5|2021-02-22 05:00|   0|
|    29.5|   6|2021-02-22 06:00|   0|
|    29.5|   7|2021-02-22 07:00|   0|
|    29.5|   8|2021-02-22 08:00|   0|
|    29.5|   9|2021-02-22 09:00|   0|
+--------+----+----------------+----+