In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("sample").master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)

In [2]:
emp = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/emp.csv")
amt_sal = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/금액제급여.csv")
hobong_sal = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/호봉제급여.csv")
yearly_sal = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/연봉제급여.csv")
sal_pay = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/급여지급.csv")
bonus_sal = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/기타급여.csv")
iss_hist = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/발령이력.csv")
dept = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/부서.csv")
pjt = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/프로젝트.csv")
pjt_use_hist = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/프로젝트투입이력.csv")
vc_use_hist = spark.read.format("csv").option("header","true").load("C:/Users/b2en/Downloads/Spark 실습/실습문제_20210324/data/휴가사용이력.csv")

In [3]:
from pyspark.sql.functions import *
from pyspark.sql.window import *

[1]
-- 프로젝트 / 투입직원수 / 투입직원들의 프로젝트 기간 내 받은 총 급여 / 프로젝트 기간 내 휴가 사용 직원 수 / 휴가 사용 일수
-- 발령이력을 기준으로 최종 직급이 과장 이상(과장, 차장)인 직원은 집계 대상에서 제외

In [4]:
final_rn = iss_hist.withColumn("DESC_RN",row_number().over(Window.partitionBy("사원번호").orderBy(desc("이력순번"))))

In [5]:
final_rn

+--------+--------+-------------------+----+--------+-------+
|사원번호|이력순번|           발령일자|직급|부서코드|DESC_RN|
+--------+--------+-------------------+----+--------+-------+
|     101|       2|2010/03/01 00:00:00|대리|      30|      1|
|     101|       1|2008/03/01 00:00:00|사원|      30|      2|
|     112|       1|2004/03/01 00:00:00|과장|      20|      1|
|     107|       1|2001/10/01 00:00:00|차장|      30|      1|
|     110|       1|2000/03/01 00:00:00|차장|      10|      1|
|     104|       3|2008/05/01 00:00:00|과장|      10|      1|
|     104|       2|2005/05/01 00:00:00|대리|      10|      2|
|     104|       1|2003/05/01 00:00:00|사원|      10|      3|
|     102|       1|2008/05/01 00:00:00|대리|      30|      1|
|     111|       1|2003/03/01 00:00:00|차장|      30|      1|
|     103|       2|2010/12/01 00:00:00|대리|      20|      1|
|     103|       1|2008/12/01 00:00:00|사원|      20|      2|
|     108|       1|2001/10/01 00:00:00|차장|      20|      1|
|     106|       1|2005/09/01 00:00:00|과장|      10|      1|
|     105|       3|2010/08/01 00:00:00|과장|      10|      1|
|     105|       2|2007/08/01 00:00:00|대리|      10|      2|
|     105|       1|2004/08/01 00:00:00|사원|      10|      3|
|     109|       1|2007/03/01 00:00:00|대리|      30|      1|
+--------+--------+-------------------+----+--------+-------+

In [6]:
no_gwa_cha = emp.join(final_rn,(emp["사원번호"] == final_rn["사원번호"]) & (final_rn["DESC_RN"] == 1),"left_outer")\
                .where(~final_rn["직급"].isin("과장","차장"))\
                .select(final_rn["사원번호"])

In [7]:
no_gwa_cha

+--------+
|사원번호|
+--------+
|     101|
|     102|
|     103|
|     109|
+--------+

In [13]:
term_sal = pjt_use_hist.join(sal_pay,(pjt_use_hist["사원번호"] == sal_pay["사원번호"]) & (sal_pay["급여월"].between(pjt_use_hist["투입월"],pjt_use_hist["종료월"])))\
                       .groupBy(sal_pay["사원번호"]).agg(sum(sal_pay["월급여"]).cast("int").alias("기간내급여"))

In [14]:
term_sal

+--------+----------+
|사원번호|기간내급여|
+--------+----------+
|     101|  18200000|
|     104|   8400000|
|     102|  10780000|
|     103|   9600000|
|     105|   7700000|
|     109|  10290000|
+--------+----------+

In [10]:
vc_month_usecnt = vc_use_hist.groupBy(col("사원번호"),substring(col("휴가사용일자"),1,6).alias("휴가사용월"))\
                            .agg(count("휴가사용일자").alias("휴가사용일수"))

In [11]:
vc_month_usecnt

+--------+----------+------------+
|사원번호|휴가사용월|휴가사용일수|
+--------+----------+------------+
|     102|    201008|           4|
|     109|    201002|           1|
|     108|    201105|           1|
|     109|    201011|           1|
|     101|    201011|           1|
|     103|    201106|           1|
|     101|    201001|           3|
|     105|    201011|           1|
+--------+----------+------------+

In [22]:
homework5_1 =\
pjt_use_hist.join(no_gwa_cha,pjt_use_hist["사원번호"] == no_gwa_cha["사원번호"])\
            .join(term_sal,term_sal["사원번호"] == pjt_use_hist["사원번호"])\
            .join(vc_month_usecnt,(vc_month_usecnt["사원번호"] == pjt_use_hist["사원번호"]) & (vc_month_usecnt["휴가사용월"].between(pjt_use_hist["투입월"],pjt_use_hist["종료월"])),"left_outer")\
            .groupBy(pjt_use_hist["프로젝트번호"])\
            .agg(count(pjt_use_hist["사원번호"]).alias("투입직원수"),sum(term_sal["기간내급여"]).alias("총급여"),\
                 count(vc_month_usecnt["사원번호"]).alias("휴가사용직원수"),sum(vc_month_usecnt["휴가사용일수"]).alias("휴가사용일수"))\
            .orderBy(pjt_use_hist["프로젝트번호"])

In [23]:
homework5_1

+------------+----------+--------+--------------+------------+
|프로젝트번호|투입직원수|  총급여|휴가사용직원수|휴가사용일수|
+------------+----------+--------+--------------+------------+
|         A00|         2|28490000|             2|           4|
|         A01|         1|18200000|             1|           1|
|         A02|         1|10780000|             1|           4|
|         A03|         2|19890000|             1|           1|
+------------+----------+--------+--------------+------------+

[2]
-- 각 사원별 직급별 급여합계 (단, 급여지급 내역이 존재하지 않는 사원도 포함되어야 함

In [4]:
iss_smonth_emonth = iss_hist.withColumn("발령시작일자",translate(substring(col("발령일자"),1,7),'/',''))\
                            .withColumn("발령종료일자",coalesce(translate(substring(lead("발령일자").over(Window.partitionBy("사원번호").orderBy("발령시작일자")),1,7),'/','')-1,lit(999912)).cast("int").cast("string"))

In [5]:
iss_smonth_emonth

+--------+--------+-------------------+----+--------+------------+------------+
|사원번호|이력순번|           발령일자|직급|부서코드|발령시작일자|발령종료일자|
+--------+--------+-------------------+----+--------+------------+------------+
|     101|       1|2008/03/01 00:00:00|사원|      30|      200803|      201002|
|     101|       2|2010/03/01 00:00:00|대리|      30|      201003|      999912|
|     112|       1|2004/03/01 00:00:00|과장|      20|      200403|      999912|
|     107|       1|2001/10/01 00:00:00|차장|      30|      200110|      999912|
|     110|       1|2000/03/01 00:00:00|차장|      10|      200003|      999912|
|     104|       1|2003/05/01 00:00:00|사원|      10|      200305|      200504|
|     104|       2|2005/05/01 00:00:00|대리|      10|      200505|      200804|
|     104|       3|2008/05/01 00:00:00|과장|      10|      200805|      999912|
|     102|       1|2008/05/01 00:00:00|대리|      30|      200805|      999912|
|     111|       1|2003/03/01 00:00:00|차장|      30|      200303|      999912|
|     103|       1|2008/12/01 00:00:00|사원|      20|      200812|      201011|
|     103|       2|2010/12/01 00:00:00|대리|      20|      201012|      999912|
|     108|       1|2001/10/01 00:00:00|차장|      20|      200110|      999912|
|     106|       1|2005/09/01 00:00:00|과장|      10|      200509|      999912|
|     105|       1|2004/08/01 00:00:00|사원|      10|      200408|      200707|
|     105|       2|2007/08/01 00:00:00|대리|      10|      200708|      201007|
|     105|       3|2010/08/01 00:00:00|과장|      10|      201008|      999912|
|     109|       1|2007/03/01 00:00:00|대리|      30|      200703|      999912|
+--------+--------+-------------------+----+--------+------------+------------+

In [10]:
homework5_2 = iss_smonth_emonth.join(sal_pay,(iss_smonth_emonth["사원번호"] == sal_pay["사원번호"]) &\
                                    (sal_pay["급여월"].between(iss_smonth_emonth["발령시작일자"],iss_smonth_emonth["발령종료일자"])))\
                               .withColumn("사원급여",when(iss_smonth_emonth["직급"] == '사원',sal_pay["월급여"]))\
                               .withColumn("대리급여",when(iss_smonth_emonth["직급"] == '대리',sal_pay["월급여"]))\
                               .withColumn("과장급여",when(iss_smonth_emonth["직급"] == '과장',sal_pay["월급여"]))\
                               .withColumn("차장급여",when(iss_smonth_emonth["직급"] == '차장',sal_pay["월급여"]))\
                               .groupBy(iss_smonth_emonth["사원번호"])\
                               .agg(sum("사원급여").cast("int").alias("사원_급여합"),sum("대리급여").cast("int").alias("대리_급여합"),\
                                    sum("과장급여").cast("int").alias("과장_급여합"),sum("차장급여").cast("int").alias("차장_급여합"))

In [11]:
homework5_2

+--------+-----------+-----------+-----------+-----------+
|사원번호|사원_급여합|대리_급여합|과장_급여합|차장_급여합|
+--------+-----------+-----------+-----------+-----------+
|     101|    2800000|   22400000|       null|       null|
|     112|       null|       null|   27000000|       null|
|     107|       null|       null|       null|   31860000|
|     104|       null|       null|   30240000|       null|
|     102|       null|   16940000|       null|       null|
|     111|       null|       null|       null|   27540000|
|     103|   17600000|   11200000|       null|       null|
|     108|       null|       null|       null|   28800000|
|     106|       null|       null|   30600000|       null|
|     105|       null|   10780000|   16940000|       null|
|     109|       null|   26460000|       null|       null|
+--------+-----------+-----------+-----------+-----------+